<!DOCTYPE html>

<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Teacher Dashboard-Edit Live Session</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="@{/images/favicon.png}">
    <link th:href="@{/vendor/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/chartist/css/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Daterange picker -->
    <link th:href="@{/vendor/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <!-- Clockpicker -->
    <link th:href="@{/vendor/clockpicker/css/bootstrap-clockpicker.min.css}" rel="stylesheet">
    <!-- asColorpicker -->
    <link th:href="@{/vendor/jquery-asColorPicker/css/asColorPicker.min.css}" rel="stylesheet">
    <!-- Material color picker -->
    <link th:href="@{/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet">
    <!-- Pick date -->
    <link rel="stylesheet" th:href="@{/vendor/pickadate/themes/default.css}">
    <link rel="stylesheet" th:href="@{/vendor/pickadate/themes/default.date.css}">
    
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


        <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a th:href="@{/teacher-dashboard}" class="brand-logo">
                Teacher Dashboard
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <!-- <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div> -->
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a th:href="@{/logout-teacher}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                   

                    <li class="nav-label">Main Menu</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Course</span></a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/addCourse}">Create New</a></li>
                            <li><a th:href="@{allCoursesTeacher}">All Course</a></li>
                            <li><a th:href="@{/publishCourse}">Publish Course</a></li>
                            <li><a href="#">Complains</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">MCQs</span></a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/test1/{email}(email=${session.sessionTeacher})}">Create MCQs</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Live Session</span></a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/liveSession}">Create Live Session</a></li>
                            <li><a th:href="@{/all_live_sessions}">All Sessions</a></li>
                            
                        </ul>
                    </li>


                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Student</span></a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/allStudents}">All Student</a></li>
                            <li><a href="#">Chats</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-label">Components</li>
                    <li><a  href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Profile</span></a>
                                
                    </li>
                    <li><a  th:href="@{/logout-teacher}" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Logout</span></a>
					</li>
               
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span class="ml-1">Element</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Live Session</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                
									<form action="#" th:action="@{/updateSession/{id}(id=${liveSession.id})}" th:object="${liveSession}" method="get">
                                	
                                                <input type="hidden" th:field="*{id}">
                                                                       
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg">Topic Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" th:field="*{topic_name}" class="form-control form-control-lg" placeholder="Topic Name">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg">Subject</label>
                                            <div class="col-sm-6">
                                                <input type="text" th:field="*{subject}" class="form-control form-control-lg" placeholder="Enter Subject">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg">Date</label>
                                            <div class="col-sm-6">
                                                <input type="date" th:field="*{date}" class="form-control form-control-lg">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg">Time</label>
                                            <div class="col-sm-6 input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                                <input type="text" th:field="*{time}" class="form-control form-control-lg" > <span class="input-group-append"><span class="input-group-text"><i
	                                                        class="fa fa-clock-o"></i></span></span>
                                            </div>
                                        </div>
                                        
                                    	
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg">Link</label>
                                            <div class="col-sm-6">
                                                <input type="text" th:field="*{link}" class="form-control form-control-lg" placeholder="Zoom/Google Meet Link">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg"></label>
                                            <div class="col-sm-6">
                                                <input type="submit" class="btn  btn-square btn-primary" value="Update Session">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        
                    </div>

                    



                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script th:src="@{/vendor/global/global.min.js}"></script>
    <script th:src="@{/js/quixnav-init.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>

    <script th:src="@{/vendor/chartist/js/chartist.min.js}"></script>

    <script th:src="@{/vendor/moment/moment.min.js}"></script>
    <script th:src="@{/vendor/pg-calendar/js/pignose.calendar.min.js}"></script>


    <script th:src="@{/js/dashboard/dashboard-2.js}"></script>
    <!-- Circle progress -->
    
    
    <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script th:src="@{/vendor/moment/moment.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- clockpicker -->
    <script th:src="@{/vendor/clockpicker/js/bootstrap-clockpicker.min.js}"></script>
    <!-- asColorPicker -->
    <script th:src="@{/vendor/jquery-asColor/jquery-asColor.min.js}"></script>
    <script th:src="@{/vendor/jquery-asGradient/jquery-asGradient.min.js}"></script>
    <script th:src="@{/vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js}"></script>
    <!-- Material color picker -->
    <script th:src="@{/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
    <!-- pickdate -->
    <script th:src="@{/vendor/pickadate/picker.js}"></script>
    <script th:src="@{/vendor/pickadate/picker.time.js}"></script>
    <script th:src="@{/vendor/pickadate/picker.date.js}"></script>



    <!-- Daterangepicker -->
    <script th:src="@{/js/plugins-init/bs-daterange-picker-init.js}"></script>
    <!-- Clockpicker init -->
    <script th:src="@{/js/plugins-init/clock-picker-init.js}"></script>
    <!-- asColorPicker init -->
    <script th:src="@{/js/plugins-init/jquery-asColorPicker.init.js}"></script>
    <!-- Material color picker init -->
    <script th:src="@{/js/plugins-init/material-date-picker-init.js}"></script>
    <!-- Pickdate -->
    <script th:src="@{/js/plugins-init/pickadate-init.js}"></script>

</body>

</html>